
/*
Body css to change the background color, font color, and font style.
*/
body{
	background-color: #f1ad96;
	color: darkblue;
	font-family: sans-serif;
}

/*
H1 css to change the font to be bold and align the text to the center.
*/
h1{
	font-weight: bold;
	text-align: center;
}

/*
Center the image and set the height to 400px. The width is auto-adjusted.
*/
img{
	display: block;
	margin: auto;
	height: 400px;
}

/*
Css for the main containing the answer choices and centering them.
*/
main{
	padding-top: 150px;
	display: block;
	margin: auto;
}

/*
CSS for the button to have the darkpurple background color
Making each button width 50% of the webpage.
Setting the font size 30pt
Setting the font color.
*/
button{
	width: 50%;
	display: block;
	padding: 10px 20px;
	font-size: 30pt;
	text-align: center;
	color: #fff;
	background-color: #660066;
	box-shadow: 0 9px #999;
}

/*
CSS for the button on sleeping.html that will center the button 
and add animation to change color infinitely.
*/
button.again{
	margin: auto;
	animation-name: again;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	transition: 0.75s;
}

/*
CSS for the center button to transform when hovered over.
*/
button.again:hover{
	transform: translateY(4px);
	box-shadow: 0 5px #666;
}

/*
Animation used to change the color of play again.
*/
@keyframes again{
	from{
		background-color: #660066;
	}
	to{
		background-color: #0b6482;
	}
}

/*
CSS for changing the button to a lighter shade of purple when hovered over.
*/
button:hover{
	background-color: purple;
}

/*
CSS for the first choice to float left
*/
button.choice1{
	float: left;
	
}
/*
CSS for the button to translate down 4px when hovered and decrease the box-shadow.
*/
button.choice1:hover{
	transform: translateY(4px);
	box-shadow: 0 5px #666;
}

/*
CSS for the second choice to float right 
*/
button.choice2{
	float: right;
}

/*
CSS for the second choice to transition 0.75 seconds after hovering.
*/
button.choice2:hover{
	transition: 0.75s;
}

span#failed{
	color: red;
	font-weight: bold;
	font-style: italic;
}